<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>AR</span>

        <span class="spacer"></span>

        <div fxLayout="row" fxFlexAlign="center end" fxLayoutGap="16px">
            <div>
                <mat-icon>list</mat-icon>
            </div>
            <div>
                <mat-icon>pie_chart</mat-icon>
            </div>
            <div>
                <a style="color: white; " [routerLink]="['/search']">
                    <mat-icon>search</mat-icon>
                </a>
            </div>
            <div>
                <mat-icon>perm_identity</mat-icon>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
