<div fxLayout="column" fxLayoutGap="20px">

    <mat-card class="mat-elevation-z4">
        <div [attr.data-letters]="userfName.charAt(0) + userlName.charAt(0) ">
            <span>{{ userfName }}, {{ userlName}}</span>
        </div>
    </mat-card>


    <div fxFlex="100">
        <mat-card class="mat-elevation-z4" fxLayout="column" fxLayoutGap="12px" fxFlex="100">

            <div><h3>Invoice List</h3></div>
            <div>
                <mat-divider></mat-divider>
            </div>

            <div  fxLayoutGap="15px" fxLayoutAlign="end center" fxLayout="row wrap">
                <mat-form-field>
                    <input [(ngModel)]="pfromdate" matInput placeholder="Purchase Date (From)">
                </mat-form-field>

                <mat-form-field>
                    <input [(ngModel)]="ptodate" matInput placeholder="Purchase Date (To)">
                </mat-form-field>

                <div>
                    <button mat-flat-button color="primary" (click)="getSortedpurchaseData()">Apply</button>
                </div>
            </div>

            <div>
                <mat-divider></mat-divider>
            </div>
            <div fxFlex="100" style="overflow-x: scroll">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="invoice_id" sticky>
                        <th mat-header-cell class="leftContent" *matHeaderCellDef> Invoice ID</th>
                        <td mat-cell class="leftContent" *matCellDef="let element"> {{element.invoiceID}} </td>
                    </ng-container>

                    <ng-container matColumnDef="order_details">
                        <th mat-header-cell class="orderContent" *matHeaderCellDef> Order Details</th>
                        <td mat-cell class="orderContent" *matCellDef="let element"> {{element.order_details}} </td>
                    </ng-container>

                    <ng-container matColumnDef="purchaseDate">
                        <th mat-header-cell class="centerContent" *matHeaderCellDef> Purchase Date</th>
                        <td mat-cell class="centerContent" *matCellDef="let element"> {{element.purchaseDate | date : 'MM-dd-yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="totalCost">
                        <th mat-header-cell class="money" *matHeaderCellDef> Total Cost</th>
                        <td mat-cell class="money"  *matCellDef="let element"> {{element.totalCost | currency:'USD':'symbol':'1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="amountPaid">
                        <th mat-header-cell class="money" *matHeaderCellDef> Amount Paid</th>
                        <td mat-cell class="money" *matCellDef="let element"> {{element.amountPaid  | currency:'USD':'symbol':'1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="amountDue">
                        <th mat-header-cell class="money" *matHeaderCellDef> Amount Due</th>
                        <td mat-cell class="money" *matCellDef="let element"> {{element.amountDue  | currency:'USD':'symbol':'1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="details">
                        <th mat-header-cell class="rightContent" *matHeaderCellDef> Details</th>
                        <td mat-cell class="rightContent" *matCellDef="let element">
                            <button mat-icon-button color="primary">
                                <a [routerLink]="['/ar',element.invoiceID]">
                                    <mat-icon>open_in_new</mat-icon>
                                </a>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </mat-card>
    </div>
</div>
